body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grandParent{
   height: 400px;
   width: 400px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}

#parent{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}