/* *{
    background-color: aqua;
    color: brown;
} */
/* Universal selector * */

/* h1,h2,p,#third{
    background-color: aqua;
} */

/* Group selector */

h2[draggable="true"]{
    background-color: blueviolet;
}
/* select by attribute */

/* section p{
    background-color: aqua;
} */
/* select by descendent */

/* select by child */

section > p{
    background-color: aqua;
}